---
layout: base
---

%h1
  Download

%h2
  Manual Download
  
%p
  Click the link below to download the latest release of Togglz. The ZIP file contains the Togglz core modules and all
  the optional integration modules.

%p.calign
  %a(href='/downloads/togglz-#{site.stableVersion}.zip' class='biglink')
    togglz-#{site.stableVersion}.zip

%p
  If you want to give the latest version of Togglz 2.0.0 a try:

%p.calign
  %a(href='/downloads/togglz-#{site.previewVersion}.zip' class='biglink')
    togglz-#{site.previewVersion}.zip

%p
  If you are using Apache Maven for your project, have a look at the following chapter.

%h2
  Apache Maven

%p  
  The Togglz artifacts are available in the Maven Central repository. So you don't have to add any additional
  repositories to your pom.xml file. 
  
%p
  Togglz has been developed in a very modular manner. This allows you to select exactly the components of the 
  framework that you want to use. The Togglz Servlet module is the only module that is mandatory:

%pre(class="prettyprint lang-xml")
  :escaped
    <!-- Togglz for Servlet environments (mandatory) -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-servlet</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>

%p
  Beside this there are a number of optional artifacts that provide additional functionality or integration 
  with third party frameworks:
  
%pre(class="prettyprint lang-xml")
  :escaped
    <!-- The web-based admin console -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-console</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>   

    <!-- CDI integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-cdi</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>
    
    <!-- Spring integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-spring</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>
    
    <!-- JSF integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-jsf</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency> 

    <!-- SLF4J logging bridge -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-slf4j</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>
    
    <!-- Seam Security integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-seam-security</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>
    
    <!-- Spring Security integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-spring-security</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>    
    
    <!-- Apache Shiro integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-shiro</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>    
    
    <!-- Apache DeltaSpike integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-deltaspike</artifactId>
      <version>#{site.stableVersion}</version>
    </dependency>    

    <!-- Testing support -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-testing</artifactId>
      <version>#{site.stableVersion}</version>
      <scope>test</scope>
    </dependency>

    <!-- JUnit integration -->
    <dependency>
      <groupId>org.togglz</groupId>
      <artifactId>togglz-junit</artifactId>
      <version>#{site.stableVersion}</version>
      <scope>test</scope>
    </dependency>

    