---
layout: base
---

%h1
  Source Code

%p
  The Togglz source code is hosted on <a href="https://github.com/">GitHub</a>. If you want to have a look at the source code or want
  to contribute the the project check out this page:

%p.calign
  %a(href='https://github.com/togglz/togglz' class='biglink')
    https://github.com/togglz/togglz

%p
  To clone the Togglz repository just use the following command:
  
%pre(class="prettyprint lang-xml")
  :escaped
    $ git clone git://github.com/togglz/togglz.git

%p
  Instead of cloning the repository using Git you can also download the source code as a
  regular ZIP file:
  
%ul
  %li
    Latest stable version: <a href="https://github.com/togglz/togglz/zipball/#{site.stableVersion}">#{site.stableVersion}</a>
  %li
    Latest preview version: <a href="https://github.com/togglz/togglz/zipball/#{site.previewVersion}">#{site.previewVersion}</a>
  %li
    Development version: <a href="https://github.com/togglz/togglz/zipball/master">#{site.developmentVersion}</a>
